<div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">Seleccionar opciones</div>
  
  <ul tabindex="0" class="dropdown-content z-1 menu p-2 shadow bg-base-100 rounded-box w-52">
    
    <li>
      <label class="label cursor-pointer justify-start gap-3">
        <input type="checkbox" class="checkbox checkbox-primary" />
        <span class="label-text">Opción 1</span>
      </label>
    </li>
    
    <li>
      <label class="label cursor-pointer justify-start gap-3">
        <input type="checkbox" class="checkbox checkbox-primary" checked="checked" />
        <span class="label-text">Opción 2</span>
      </label>
    </li>
    
    <li>
      <label class="label cursor-pointer justify-start gap-3">
        <input type="checkbox" class="checkbox checkbox-primary" />
        <span class="label-text">Opción 3</span>
      </label>
    </li>

  </ul>
</div>